{% extends "main/base.html" %} 
{% block content %}
<div class="row justify-content-center align-items-center py-5">
  <div class="col-md-5">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title text-center">Welcome Back!</h2>
        <p class="card-text text-center">Please enter your credentials to log in.</p>
        <hr>
        <form method="post">
          {% csrf_token %} {{ form.as_p }}
          <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
